
small {
    color: #333;
}
.logo {
    font: 84px 'Arial Narrow', sans-serif;
    color: #fefefe;
    text-transform: uppercase;
    letter-spacing: -4px;
}

/* stuff for both words */
.logo span {
    position: relative;
}
.logo span:before,
.logo span:after {
    content: '';
    position: absolute;
    border-width: 32px;
    border-style: solid;
    border-color: transparent;
    height: 0;
    z-index: 10;
}

/* stuff for 1st word */
.logo .word1 {
    color: #1a6494;
    margin-right: -38px;
    transform: rotateY(180deg);
    display: inline-block;
    z-index: 10;
}
.logo .word1:before {
    right: -4px;
    top: -9px;
    border-top-color: #282828;
    border-right-color: #282828;
}
.logo .word1:after {
    left: 17px;
    bottom: -15px;
    border-bottom-color: #282828;
    border-left-color: #282828;
}

/* stuff for 2nd word */
.logo .word2 {
    z-index: 0;
}
.logo .word2:before {
    left: -4px;
    top: -6px;
    border-top-color: #282828;
    border-left-color: #282828;
}
.logo .word2:after {
    right: -4px;
    bottom: 4px;
    border-bottom-color: #282828;
    border-right-color: #282828;
}

.ReactTable {
    border: none;
}